footer
  a(href="feed")
    img(src="./public/images/home.svg", alt="home")
  a(href="newQuestion")
    img(src="./public/images/new.svg", alt="create question")
  a(href="profile")
    img(src="./public/images/profile.svg", alt="profile")