footer
  a(href="/feed")
    img(src="/images/dark/home.svg", alt="home")
  a(href="/newQuestion")
    img(src="/images/dark/new.svg", alt="create question")
  button.settingsButton
    img(src="/images/dark/settings.svg", alt="Settings")