footer
  a(href="feed")
    img(src="/images/dark/home.svg", alt="home")
  a(href="newQuestion")
    img(src="/images/dark/new.svg", alt="create question")
  -var profileLink = "profile/" + username
  a(href=profileLink)
    img(src="/images/dark/profile.svg", alt="profile")