footer
  a(href="feed")
    img(src="/images/home.svg", alt="home")
  a(href="newQuestion")
    img(src="/images/new.svg", alt="create question")
  -var profileLink = "profile/" + username
  a(href=profileLink)
    img(src="/images/profile.svg", alt="profile")