footer
  button(disabled)
    img(src="./public/images/filter.svg", alt="filter")
  a(href="newQuestion")
    img(src="./public/images/New.svg", alt="create question")
  a(href="profile")
    img(src="./public/images/Profile.svg", alt="profile")