footer
    button(disabled)
        img(src="./public/images/filter.svg", alt="filter")
    a(href="feed")
        img(src="./public/images/home.svg", alt="home")
    a(href="profile")
        img(src="./public/images/Profile.svg", alt="profile")