head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name='theme-color' content='#f4f4f4')
    // Title
    title Bilingualism
    // Favicon
    link(rel="shortcut icon" type="image/x-icon" href="./public/images/favicon.png")
    // CSS
    link(rel="stylesheet" href="./public/css/main.css")
    // Main font from Google Fonts
    link(href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet")
    // Jquery and other js 
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
