header
    a(href="#" id="logo")
        img(src="./public/images/bilingualism.svg", alt="Logo")
    button.login
        h4 LOGIN
        img(src="./public/images/close-login.svg", alt="Close login")