.menu-section
  ul
    li
      a(href="/about")
        |About
    li 
      hr
    li
      a(href="#" disabled)
        |Statistics
    li 
      hr
    li
      a(href="#")
        |Feedback
    li 
      hr
    li
      form(method="POST")
        input(type="submit" value="Logout" formaction="/logout")