.menu-section
  ul
    li
      a(href="#")
        |About
    li 
      hr
    li
      a(href="#" disabled)
        |Statistics
    li 
      hr
    li
      a(href="#")
        |Feedback
    li 
      hr
    li
      a(href="#")
        |Logout