template.multi2
  .post(id="q{id}")
    .upper-part
      .question
        p.bigtext {question}
      .votes
        button.up
          img(src="/images/up-arrow.svg")
          p {upvotes}
        button.down
          p {downvotes}
          img(src="/images/down-arrow.svg")
    .answers
      .multi
        button.blueButton#a1
          p.bigtext {answer1}
        button.blueButton#a2
          p.bigtext {answer2}
    .bottom-bar
      .actions-list
        button.actions
          img(src="/images/dark/question-menu.svg")
      button.comments
        p Discussion ({numComments})
      a.ownerProfile
        p {username}