.post
  .upper-part
    .question
      p.bigtext How do you say 'Hi' in Spanish?
    .votes
      button.up
        img(src="./public/images/up-arrow.svg")
        p 7
      button.down
        p 19
        img(src="./public/images/down-arrow.svg")

  .answers
    .multi-choice
      button
        p Hej
      button
        p Merhaba
      button
        p Hola
      button
        p Salut
  .bottom-bar
    button
      p Save
    button
      p Discusion
    button
      p Username
      img(src="./public/images/avatar.png")
