template.type
  .post(id="q{id}")
    .upper-part
      .question 
        p.bigtext {question}
      .votes
        button.up
          img(src="/images/up-arrow.svg")
          p {upvotes}
        button.down
          p {downvotes}
          img(src="/images/down-arrow.svg")
    .answers
      form.type
        input(type="text" name="comment")
        button.submit(type="button")
          img(src="/images/dark/send.svg")
    .bottom-bar
      .actions-list
        button.actions
          img(src="/images/dark/question-menu.svg")
      button.comments
        p Answers ({numComments})
      a.ownerProfile
        p {username}
