doctype html
html(lang=en)
  include includes/head
  script(type="text/javascript" src="./public/js/menu.js")
  body
    include includes/header-menu
    include includes/menu
    .post
      p.bigtext This page is useless.
      p But looks cool on menu.
      button.blueButton(onclick="javascript:location.href='/feed'")
        p Turn back to feed
    content
    include includes/footer