doctype html
html(lang=en)
  include includes/head
  script(type="text/javascript" src="./js/menu.js")
  body
    include includes/header-menu
    include includes/menu
    content
    .post.delete-post
      p.gianttext Enter password to delete this account PERMENANTLY.
      br
      p.hugetext This action is not reversable.
      form(method="POST")
        input(type="password" placeholder="Confirm password" autocomplete="off")
        button(type="submit" formaction="/deleteAccount")
          p.hugetext DELETE
    include includes/footer