doctype html
html(lang=en)
  include includes/head
  script(type="text/javascript" src="./public/js/menu.js")
  script(type="text/javascript" src="./public/js/feed.js")
  body.dark
    include includes/type-template-dark
    include includes/multi2-template-dark
    include includes/multi4-template-dark
    include includes/header-menu-dark
    include includes/menu
    content
    include includes/footer-dark