doctype html
html(lang=en)
  include includes/head
  script(type="text/javascript" src="./public/js/menu.js")
  body
    include includes/header-menu
    include includes/menu
    content
      include includes/question
      include includes/question2
    include includes/footerAtHome