doctype html
html(lang=en)
  include includes/head
  script(type="text/javascript" src="./js/menu.js")
  script(type="text/javascript" src="./js/feed.js")
  body
    include includes/type-template
    include includes/multi2-template
    include includes/multi4-template
    include includes/header-menu
    include includes/menu
    content
    include includes/footer