* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  grid-gap: 0px;
  scroll-behavior: smooth;
}
body {
  padding-top: 65px;
  padding-bottom: 55px;
  overflow-x: hidden;
  background-color: #f4f4f4 ;
  font-family: 'Nunito', sans-serif;
}
button  {
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  /* Remove blue overlay ond android*/
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input {
  border: none;
  outline: none;
  background: none;
  color: #5c5c5c;
}
input[type=submit] {
  cursor: pointer;
}
input[type=checkbox] {
  display:none;
}
label {
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
}
ul {
  list-style-type: none;
  text-align: center;
}
a {
  text-decoration: none;
  color: #5c5c5c;
}
a[disabled] {
  pointer-events: none;
  opacity: 0.4;
}
button[disabled] {
  pointer-events: none;
  opacity: 0.3;
}
hr {
  border: none;
  height: 1px;
  background: #5c5c5c;
  border-radius: 1px;
}
.error {
  color: red;
  font-size: 0.8em;
  padding-top: 5px;
}
.gianttext {
  font-size: 1.6em;
}
.hugetext {
  font-size: 1.4em;
}
.bigtext {
  font-size: 1.2em;
}
.smalltext {
  font-size: 0.8em;
}
.blueButton {
  background: #567BF5;
  color: white;
  border-radius: 15px;
  padding: 10px 20px;
  margin-top: 5px;
  text-align: center;
}
.hide {
  display: none;
}



.files {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 15px 10px;
  padding: 15px;
  width: 95%;
  margin: 10px auto;
  background: white;
  border-radius: 30px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
}


/* For mobile phones: */

header {
  position: fixed;
  top: 0;
  height: 60px;
  z-index: 10;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3); 
  padding: 5px 10px;
  background: white;
}
#logo img {
  height: 30px;
  margin: 10px 0; 
}
.menu { 
  height: 26px;
  float: right;
  margin: 12px 20px; 
}
.menu img {
  height: 20px;
}
.menu-section {
  z-index: 9;
  position: fixed;
  height: fit-content;
  width: 36.111vw;
  right: 0;
  top: 60px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3); 
  background: white;
  border-radius: 0 0 2.34375vh 2.34375vh;
  padding: 0 5.555vw;
  display: none;
}
.menu-section li:nth-child(odd) {
  color: #5c5c5c;
  font-size: 0.8em;
  padding: 12px 0;
}
.login {
  float: right;
  margin: 7px 0;
  height: 36px;
  width: 24%;
  background: #567BF5;
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login img {
  display: none;
  height: 15px;
}
.login-section {
  position: fixed;
  background: white;
  border-radius: 0 0 20px 20px;
  z-index: 5;
  height: fit-content;
  width: 88vw;
  top: 60px;
  left: 6vw;
  padding: 0 5.56vw;
  text-align: center;
  display: none;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.login-section > * {
  height: fit-content;
  width: 100%;
}
.login-section p {
  color: #333333;
  margin: 6px 0;
}
.login-section input {
  background: #D0F8FE;
  width: 80%;
  border-radius: 15px;
  padding: 5px 25px;
}
.bottom {
  display: grid;
  grid-template-columns: 9fr 10fr 9fr;
  padding: 5px 0 5px 0;
}
.bottom button {
  color: #5c5c5c;
  font-size: 10px;
}
.goto-register,.goto-login {
  margin-right: 5px;
  grid-column: 1 / 2;
}
.forgot {
    margin-left: 5px;
    grid-column: 3 / 4;
}
.bottom input {
  grid-column: 2 / 3;
  background: #567BF5;
  border-radius: 15px;
  padding: 0 10px;
  height: 40px;
  width: 100%;
  color: white;
  font-size: 1em;
}
.email,.password-confirm,.goto-login,input[value=REGISTER] {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  z-index: 10;
  width: 100%;
  box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.2); 
  padding: 0 10vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
}
footer img {
  display: block;
  height: 25px;
}

content {
  z-index: -5;
  position: fixed;
  top: 0;
  height: 100vh;
  left: 2.8%;
  width: 94.4%;
  background: #D0F8FE;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: auto;
}
/* 


*/



.feedButton {
  width: 70%;
  margin: 5px 15%;
}
.post {
  height: fit-content;
  width: 90%;
  margin: 10px auto;
  background: white;
  border-radius: 30px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
  text-align: center;
}
.post .upper-part {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-height: 95px;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.votes {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 100%;
}
.votes button {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.votes .up {
  color: #A1BF9F;
}
.votes .down {
  color: #DB8989;
}
.votes img {
  width: 16px;
}
.votes  p {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  margin: 3px 0;
}
.bottom-bar {
  margin-top: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.bottom-bar button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.bottom-bar p {
  display: flex;
  flex-flow: row nowrap;
}
.answers {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.answers .multi {
  width: 100%;
}
.answers .type{
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.answers input[type=text] {
  background: #D0F8FE;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 0 5px;
  width: 100%;
  font-size: 1em;
}
.answers button.submit {
  height: 75%;
}
.answers button.submit img {
  width: 25px;
  height: 100%;
}
.answers .multi {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.answers .multi button{
  margin: 10px auto 5px auto;
  width: 90%;
}
.answers .multi button.orange{
  box-shadow: 2px 4px 7px 0px rgba(0,0,0,0.3);
  background: #FA8D20;
}
.answers .multi button.red{
  box-shadow: 2px 4px 7px 0px rgba(0,0,0,0.3);
  background: #DD1D1D;
}
.answers .multi button.green{
  box-shadow: 2px 4px 7px 0px rgba(0,0,0,0.3);
  background: #2DD221;
}
.answers .multi button.wrongGreen{
  box-shadow: 0px 1px 7px 0px rgba(20,255,20,0.3);
  background: rgb(21, 126, 27);
}
.bottom-bar .actions-list {
  display: flex;
  flex-flow: row nowrap;
}
.actions-list button {
  padding: 0 8px;
}









/* CSS For New Question Section */
.bar {
  max-width: 100%;
  overflow: auto;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
}
.bar img{
  height: 45px;
  width: 45px;
}
.bar p {
  color:white;
  font-size: 0;
  margin: 0;
  opacity: 0;
}
.bar button {
  height: 45px;
  min-width: 45px;
  width: fit-content;
  background: #567BF5;
  border-radius: 25px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:disabled.selected{
  pointer-events: none;
  opacity: 1;
  color: #5c5c5c;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2); 
}

#new .question {
  background: none;
  width: 100%;
  min-height: 30px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: min-height 0.3s linear;
}
#new .question > * {
  display: none;
}
#new .question input[type=text] {
  background: #D0F8FE;
  width: 90%;
  border-radius: 10vw;
  padding: 10px 20px;
  margin: 10px auto;
  font-size: 1em;
}
#new .question input[type=button] {
  cursor: pointer;
  background: #567BF5;
  color: white;
  border-radius: 5vw;
  font-size: 0.8em;
  padding: 10px 20px;
  margin: 10px auto;
}


#new .answer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: min-height 0.4s linear;
}
#new .answer > * {
  display: none;
}
#new .answer input {
  background: #D0F8FE;
  border-radius: 15px;
  padding: 5px 30px 5px 20px;
  margin: 10px auto 5px auto;
  font-size: 1em;
}
#new .answer .type{
  width: 90%;
  padding: 10px 20px;  
}
#new .answer .four-choice {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
#new .answer .four-choice > div {
  width: 100%;
  position: relative;
}
#new .answer .four-choice input{
  width: 90%;
}
#new .answer .two-choice {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
#new .answer .two-choice > div {
  width: 100%;
  position: relative;
}
#new .answer .two-choice input{
  width: 90%;
}
#new label {
  position: absolute;
  bottom: 0px;
  right: 5%;
  border-radius: 50%;
}
#new label img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #E9FCFF;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
#new input[value=on]+label img {
  background: #D0FEDC;
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.4);
}
#new button#submit {
  display: block;
  background: #567BF5;
  color: white;
  min-width: 160px;
  height: 40px;
  border-radius: 5vh;
  margin: 5px auto;
  font-size: 0.8em;
}











.profile {
  width: 90%;
  margin: 0 5%;
}
.profile .upper-part {
  display: grid;
  grid-template-columns: 120px  minmax(0, 1fr);
  grid-template-rows: 120px;
}
.profile .picture {
  grid-area: 1 / 1 / 2 / 2;
}
.profile .picture img {
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 50%;
}
.profile .name-lang {
  grid-area: 1 / 2 / 2 / 3;
  padding: 5px 0;
}
.profile .username {
  color: #333333;
  margin: 0 0 10px 20px;
}
.profile .languages {
  width: 100%;
  max-height: fit-content;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: none;
}
.profile ::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  height: 2px;
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.profile ::-webkit-scrollbar-thumb {
  background: #AAAAAA;
}
.profile .language {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  max-width: 60px;
  height: 65px;
  overflow: hidden;
  margin-right: 5px;
}
.profile .language img {
  height: 35px;
  width: 35px;
  margin: 0 auto;
}
.profile .language p {
  margin: 5px auto;
}
.profile .bio {
  color: #5c5c5c;
  max-height: 50px;
  padding: 10px 20px;
}
.profile hr {
  width: 100%;
  height: 1px;
  background: #999999;
  margin-top: 10px;
}
.profile .awards {
  height: 300px;
  padding: 10px;
}
.profile .awards p {
  display: inline-block;
  color: #333333;
}
.profile button {
  float: right;
  margin: 5px 20px 0 0;
}



.settings {
  position: fixed;
  bottom: 0;
  width: 94.4444vw;
  margin: 0 2.7778vw;
  padding: 0 5vw 50px 5vw;
  background: white;
  box-shadow: 0px -1px 3px -1px rgba(0,0,0,0.2); 
  border-radius: 5px;
  display: none;
  text-align: center;
}
.settings button, .settings input {
  margin: 15px auto;
  width: 100%;
}
.edit-profile .container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.edit-profile .container button {
  min-width: auto;
  width: 35%;
  margin: 0 0 20px 0;
}
#alter-bio input[type=text] {
  border-radius: 15px;
  padding: 10px 20px;
  background: #D0F8FE;
  color: #333333;
}

.delete-post input[type=password] {
  background: #D0F8FE;
  color: #333333;
  width: 70%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 15px;
  display: block;
}
.delete-post button[type=submit] {
  min-width: auto;
  padding: 10px 30px;
  border-radius: 20px;
}

#alter-languages {
  padding: 0 5vw 50px 5vw;
}
.toggle-languages {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center
}
.toggle-languages .language {
  width: 25%;
  padding: 5px 0;
}
.settings label img{
  opacity: 0.2;
  width: 40px;
  height: 40px;
  transition: opacity 0.2s linear;
}
.settings :checked+label img {
  opacity: 1;
}
.settings .discard {
  background: #DD1D1D;
}



.darkenPage {
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.3);
}
.darkenPage .post {
  position: fixed;
  min-height: 250px;
  height: fit-content;
  max-height: 70%;
  overflow: auto;
  top: 90px;
  margin: auto 5%; 
  text-align: left;
  padding: 30px;
}
.darkenPage .post p {
  display: inline-block;
}
.darkenPage .post hr {
  margin-bottom: 20px;
  width: 100%;
}










/* DARK THEME */
.dark {
  background: #2B2C30;
}
.dark content {
  background: #0C0009;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
}
.dark .blueButton {
  background: #29495F;
  color: #C7C7C7;
}
.dark header{
  background: #000000;
  box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.1);
}
.dark footer {
  background: #000000;
  box-shadow: 0px -1px 2px 0px rgba(255, 255, 255, 0.1);
}
.dark .post {
  background: #2B2C30;
  color: #C7C7C7;
  box-shadow: 0px 1px 5px 0px rgba(255, 255, 255, 0.25);
}
.dark .post input {
  background: #29495F;
  color: #C7C7C7;
}
.dark .post .bottom-bar p {
  color: #C7C7C7;
}
.dark .menu-section {
  background: #2B2C30;
  color: white;
}
.dark .menu-section a, .dark .menu-section input{
  color: #C7C7C7;
}
.dark .answers .multi button.orange {
  background: #C06C0C;
}
.dark .profile .username p {
  color: #C7C7C7;
}
.dark .profile .bio p {
  color: #999999;
}
.dark .profile .languages p {
  color: #999999;
}
.dark .settings {
  background:#2B2C30;
}
.dark .settings p {
  color: #C7C7C7;
}
.dark .settings .submit {
  background: #037917;
}
.dark  .discard {
  background: #A50000;
}
.dark #alter-bio input[type=text] {
  background: #29495F;
  color: #C7C7C7;
}
.dark #new input[type=text] {
  background: #29495F;
  color: #C7C7C7;
}
.dark #new input[type=button] {
  background: #29495F;
  color: #c7c7c7;
}
.dark #new label img {
  background: #1F3F56;
}
.dark #new input[value=on]+label img {
  background: #29495F;
  box-shadow: 0px 0px 7px 0px rgba(0, 255, 0, 0.6);
}
.dark #new .bar button {
  background: #29495F;
}
.dark #new .bar button p {
  color: #C7C7C7;
}
.dark #new #submit {
  background: #037917;
  color: #c7c7c7;
}
.dark .blueButton:hover {
  box-shadow: 0px 2px 7px 0px rgba(82,146,190,0.3);
}
.dark .blueButton.discard:hover {
  box-shadow: 0px 2px 7px 0px rgba(255,100,100,0.3);
}
.dark .blueButton.submit:hover {
  box-shadow: 0px 2px 7px 0px rgba(100,255,100,0.3);
}
.dark input[type=text]:focus {
  box-shadow: 0px 2px 7px 0px rgba(82,146,190,0.3);
}
.dark .answers .multi button.red{
  box-shadow: 0px 2px 12px 0px rgba(255,20,20,0.4);
  background: #A50000;
}
.dark .answers .multi button.green{
  box-shadow: 0px 2px 12px 0px rgba(20,255,20,0.4);
  background: #037917;
}
.dark .answers .multi button.wrongGreen{
  box-shadow: 0px 1px 5px 0px rgba(20,255,20,0.2);
  background: #037917;
}
.dark .darkenPage {
  background: rgba(0,0,0,0.7);
}
.darkenPage .post p {
  display: inline-block;
}
.darkenPage .post hr {
  margin-bottom: 20px;
  width: 100%;
}














@media only screen and (min-width: 600px) {
  /* For tablets: */

}




















@media only screen and (min-width: 1250px) {
  /* For desktop: */
  header {
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3); 
    padding: 1.5vh 7.3vw;
    background: white;
  }
  #logo img {
    height: 6vh;
    width: fit-content;
    margin: auto 0;
  }
  .login {
    display: none;
  }
  .login-section {
    display: block;
    position: fixed;
    background: white;
    border-radius: 0 0 20px 20px;
    z-index: 5;
    height: fit-content;
    width: 22vw;
    min-width: 300px;
    top: 60px;
    left: 70vw;
    padding: 0 2vw;
    text-align: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  }
  

  .menu {
    display: none;
  }
  .menu-section {
    display: flex;
    flex-flow: row nowrap;
    background: transparent;
    box-shadow: none;
    position: fixed;
    top: 0;
    right: 0;
    width: fit-content;
    height: 60px;
    z-index: 12;
    padding: 0 6vw;
    font-size: 1.1em;
  }
  .menu-section ul{
    right: 0;
    margin: auto;
  }
  .menu-section li {
    display: inline;
    margin: auto 20px;
  }
  .menu-section form {
    display: inline;
    margin: 0;
  }
  .menu-section li:nth-child(even) {
    display: none;
  }

  body {
    padding-bottom: 65px;
  }
  content {
    left: 34vw;
    width: 32vw;
    min-width: 400px;
  }
  .post {
    width: 30vw;
    margin: 10px 35vw;
  }
  .ghost {
    height: 65px;
  }
  .feedButton {
    width: 12vw;
    margin: 5px 44vw;
  }


  footer {
    width: 32vw;
    left: 34vw;
    padding: 2vw;
  }

  .profile {
    margin: auto 34%;
    width: 32%;
    min-width: 400px;
  }
  .profile .name-lang {
    padding: 10px 0;
  }
  .settings {
    width: 30vw;
    margin: 0 35vw;
    padding: 0 7vw 50px 7vw;
  }
  #alter-languages {
    padding: 0 2vw 50px 2vw;
  }


  .darkenPage .post {
    margin: 10px 35vw;
  }






  .dark .menu-section {
    background: #000000;
     
  }
}







